black
ipython
isort
jupyter
jupyterlab_server
jupyterlab
kedro~=0.18.4
nbstripout
pytest-cov
pytest-mock
pytest~=6.2
dgl
dglgo
torch
tensorflow
kedro_tf_text @ git+https://github.com/dermatologist/kedro-tf-text.git@develop
kedro_tf_image @ git+https://github.com/dermatologist/kedro-tf-image.git@develop